body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

footer {
  background-color: #333;
  color: rgb(153, 153, 153);
  padding: 0;
  align-items: center;
}

footer p{
  padding-left: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 15px 0; /* Ensure each li is on a separate line */
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 3rem;
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Hide scrollbars for all elements */
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
