.header {
  background-color: #333;
  color: white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.menu-button {
  color: white;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 1rem;
}

.basket-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

body.no-scroll {
  overflow: hidden;
}

/* Dropdown overlay styling */
.dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: teardrop 0.5s ease-in-out forwards;
  padding-top: 60px;
  box-sizing: border-box;
}

.dropdown-overlay.closing {
  animation: teardrop-close 0.5s ease-in-out forwards;
}

@keyframes teardrop {
  0% {
    clip-path: circle(0% at 100% 0%); /* Start from top right corner */
  }
  100% {
    clip-path: circle(150% at 100% 0%);
  }
}

@keyframes teardrop-close {
  0% {
    clip-path: circle(150% at 100% 0%);
  }
  100% {
    clip-path: circle(0% at 100% 0%); /* End at top right corner */
  }
}

.dropdown-content {
  position: relative;
  background: gray;
  color: white;
  text-align: center;
}












  